{% extends "accounts/base.html" %}
<!--  page title -->
{% block title %} Dashboard {% endblock title %}
<!-- end page title -->
<!-- header -->
{% block header %} Dashboard {% endblock header %}
<!-- header -->
{% block content %}
<div class="row social_media_section">
    <div class="col-md-6 col-lg-6">
        <div class="full socile_icons fb margin_bottom_30">
            <div class="social_icon">
                Refuse
                <i class="fa fa-cubes"></i>
            </div>
            <div class="social_cont">
                <ul>
                    <li>
                        <span><strong>{{my_disposed_waste}}</strong></span>
                        <span>Collected</span>
                    </li>
                    <li>
                        <span><strong>{{paid}}</strong></span>
                        <span>New</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="full socile_icons tw margin_bottom_30">
            <div class="social_icon">
                Payment
                <i class="fa fa-credit-card"></i>
            </div>
            <div class="social_cont">
                <ul>
                    <li>
                        <span><strong>{{paid}}</strong></span>
                        <span>Paid</span>
                    </li>
                    <li>
                        <span><strong>{{my_disposed_waste}}</strong></span>
                        <span>Unpaid</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="dash_blog">
            <div class="dash_blog_inner">
                <div class="dash_head">
                    <h3><span><i class="fa fa-calendar"></i>
                    <script>
                        document.write(new Date().toUTCString().replace(new Date().toUTCString().substring(17),""));
                    </script>
                    </span><span class="plus_green_bt"><a href="{% url 'waste:dispose_waste' %}">+</a></span></h3>
                </div>
                <div class="list_cont">
                    <p>Today Tasks for Waste Collection</p>
                </div>
                <div class="task_list_main">
                    <ul class="task_list">
                        {% for waste in wastes %} {% if waste.date_created.date == today %}
                        <li><a href="#">{{waste|title}}</a><br><strong>{{waste.date_created.time}}</strong></li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
                <div class="read_more">
                    <div class="center">
                        <a class="main_bt read_bt" href="{% url 'waste:sent_waste' %}"> <i class="fa fa-eye"></i> See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dash_blog">
            <div class="dash_blog_inner">
                <div class="dash_head">
                    <h3><span><i class="fa fa-ellipsis-v"></i> Places Covered</span><span class="plus_green_bt"><a href="{% url 'waste:dispose_waste' %}">+</a></span></h3>
                </div>
                <div class="msg_list_main">
                    <div class="list_cont">
                        <p>Places Covered</p>
                    </div>
                    <ul class="msg_list">
                        {% for waste in wastes %} {% if waste.date_created.date == today %}
                        <li>
                            <span>
                          <span class="name_user">{{waste.location|title}}</span>
                            <span class="msg_user">{{waste.digital_address}}</span>
                            <span class="time_ago">{{waste.waste_type}}</span>
                            </span>
                        </li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
                <div class="read_more">
                    <div class="center">
                        <a class="main_bt read_bt" href="{% url 'waste:sent_waste' %}"> <i class="fa fa-eye"></i> See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}