{% extends "accounts/base.html" %}
<!--  -->
{% block title %} edit| {{waste_bin|upper}} {% endblock title %}

<!--  -->
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header-title">Edit {{waste_bin|upper}} Information</h4>
                    </div>
                    <div class="col-md-6">
                        <button id="get_coordinates" class="btn offset-8">get coordinates</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form id="form" action="{% url 'waste:edit_bin' bin_id=waste_bin.id %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="location">{{form.location.label}}</label> {{form.location}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="waste_type">{{form.waste_type.label}}</label> {{form.waste_type}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="bin_label">{{form.bin_label.label}}</label> {{form.bin_label}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gps_latitude">{{form.gps_latitude.label}}</label> {{form.gps_latitude}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gps_longitude">{{form.gps_longitude.label}}</label> {{form.gps_longitude}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="digital_address">{{form.digital_address.label}}</label> {{form.digital_address}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check form-switch">
                                            <label for="bin_ready">{{form.bin_ready.label}}</label> {{form.bin_ready}}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </fieldset>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-success btn-block" type="submit">Save Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}