{% extends "accounts/base.html" %} {% load static %}
<!--  -->
{% load static %} {% block title %} {{place|upper}} {% endblock title %}
<!--  -->
{% block header %} {{place|title}} {% endblock header %}
<!--  -->
{% block page %}
<a href="{% url 'waste:add_places' %}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="View Other Records">
    <i class="fa fa-eye"></i> View Places</a>
<!--  -->
{% endblock page %}
<!--  -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {{message.tags}} " role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header-title">{{waste_bin|upper}} Information</h4>
                    </div>
                    <div class="col-md-6">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-outline-success offset-8">Edit Info</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <h5>Place Title</h5> {{place}}
                        </div>
                        <div class="col-md-4">
                            <h5>Waste Count</h5>
                            {{place.waste_dustbins.count}}
                        </div>
                        <div class="col-md-4">
                            <h5>Location Coordinate</h5>
                            <div class="row">
                                <div class="col-md-12 d-flex">
                                    <div class="col-md-6">
                                        <h6>Latitude</h6>
                                        {{place.gps_latitude}}
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Longitude</h6>
                                        {{place.gps_longitude}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="modal-title">Edit Info</h4>
                        <button id="get_coordinates" class="btn" data-toggle="tooltip" data-placement="top" title="Generate Coordinate Online. You must be connected to a network">get coordinates</button>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="form" action="{% url 'waste:edit_place' location_id=place.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="location">{{form.location.label}}</label> {{form.location}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gps_latitude">{{form.gps_latitude.label}}</label> {{form.gps_latitude}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gps_longitude">{{form.gps_longitude.label}}</label> {{form.gps_longitude}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="digital_address">{{form.digital_address.label}}</label> {{form.digital_address}}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-success btn-block" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock content %}
<!--  -->
{% block scripts %}
<script src="{% static 'js/custom/coordinates.js' %}"></script>

{% endblock scripts %}