{% extends "accounts/base.html" %} {% load static %}
<!--  -->
{% block title %} new posted {% endblock title %}
<!--  -->
{% block header %} New Post {% endblock header %}
<!--  -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {{message.tags}} " role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
{% for waste in wastes %}
<!--  -->
{% if True %}
<div class="row mb-4">
    <div class="col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header-title">{{waste|upper}} Information</h4>
                    </div>
                    {% if not waste.payment_confirm and waste.payment_made %}
                    <div class="col-md-6">
                        <a href="{% url 'waste:confirm_payment' bin_id=waste.id %}" class="btn btn-outline-success offset-8">Confirm Payment</a>
                    </div>
                    {% elif waste.payment_confirm %}
                    <div class="col-md-6">
                        <a href="{% url 'waste:collected' bin_id=waste.id %}" class="btn btn-outline-primary offset-8">Collect & Dispose</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <h5>Waste Bin Label</h5> {{waste}}
                        </div>
                        <div class="col-md-4">
                            <h5>Waste Owner</h5>
                            {{waste.user.full_name}}
                        </div>
                        <div class="col-md-4">
                            <h5>Payment Status</h5>
                            {% if waste.payment_made %} <span class="text-success">Paid</span>{% else %} <span class="text-danger">Unpaid</span>{% endif %}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <h5>Waste Location</h5>
                            {{waste.location}}
                        </div>
                        <div class="col-md-4">
                            <h5>Waste Type</h5>
                            {{waste.waste_type}}
                        </div>
                        <div class="col-md-4">
                            <h5>Waste Digital Address</h5>
                            {{waste.digital_address}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Waste Location Coordinate</h5>
                            <div class="row">
                                <div class="col-md-12 d-flex">
                                    <div class="col-md-6">
                                        <h6>Latitude</h6>
                                        {{waste.gps_latitude}}
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Longitude</h6>
                                        {{waste.gps_longitude}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5>Waste Collected</h5>
                            {% if waste.bin_collected %}
                            <span class="text-success">Yes</span> {% else %}
                            <span class="text-danger">No</span> {% endif %}
                        </div>
                        <div class="col-md-4">
                            <h5>Payment Confirmed</h5>
                            {% if waste.payment_confirm %}
                            <span class="text-success">Yes</span> {% else %}
                            <span class="text-danger">No</span> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endfor %}
<!--  -->
{% endblock content %}